<html>
<head>
<title>Registration form</title>
<script src="http://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="  crossorigin="anonymous"></script>
<link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
</head>

<body>
  <h1>Login form</h1>
  <div class="login- page">
    <div class="form">
    <form class = "login-form" method="post" action="/login">
      <input type="text" name="email" placeholder="user Name" required/>
      <input type="password" name="password" placeholder="password" required/>
      <button type="submit">login </button>
    </form>
  </div>
  </div>

</body>
</html>
